<section>
    <div>
        <h1>Website Under Construction.</h1>
        <p>We are working to bring you this website.</p>
        
        <div class="icons">
            <a href="https://www.linkedin.com/in/saracast909/" target="_blank"><i class="fi fi-brands-linkedin"></i></a>
            <a href="https://github.com/saracast909" target="_blank"><i class="fi fi-brands-github"></i></a>
            <a href="https://www.figma.com/@saracast909" target="_blank"><i class="fi fi-brands-figma"></i></a>
            <a href="mailto: saracm181105@gmail.com"><i class="fi fi-br-at"></i></a>
        </div>
    </div>
    
    <img src="./assets/built-image.webp" alt="">
</section>
