<main>
    <app-navbar></app-navbar>
    <section class="home">
        <div class="home-description">
            <h1>
                Hi, stranger 👋🏻.
                <br>
                I'm <span>Sara Castillo 🙋🏻‍♀️.</span> 
            </h1>
            <p>I am a frontend developer who loves design, color, and technology. I aim to blend aesthetics and functionality in every project.</p>
            <a href="./assets/cv-sara-castillo.pdf" class="button" target="_blank">View CV</a>
        </div>
        <div class="home-image">
            <img src="./assets/main-image.png" alt="">
        </div>
        <div class="brands">
            <p>Check Out My</p>
            <a href="https://www.linkedin.com/in/saracast909/" target="_blank"><i class="fi fi-brands-linkedin"></i></a>
            <a href="https://github.com/saracast909" target="_blank"><i class="fi fi-brands-github"></i></a>
            <a href="https://www.figma.com/@saracast909" target="_blank"><i class="fi fi-brands-figma"></i></a>
        </div>
    </section>
</main>