<app-navbar></app-navbar>
<!-- 
<main>
    <section>
        <div>
            <h1>
                Hi, stranger 👋🏻.
                <br>
                I'm <span>Sara Castillo 🙋🏻‍♀️.</span> 
            </h1>
            <p>I am a frontend developer passionate about color, design and technology.</p>
            <a href="./assets/cv-sara-castillo.pdf" download="CV - Sara Castillo">Save CV</a>
        </div>
        <div>
            <img src="./assets/main-image.webp" alt="">
        </div>
        <div>
            <i class="fi fi-brands-linkedin"></i>
            <i class="fi fi-brands-github"></i>
            <i class="fi fi-brands-figma"></i>
        </div>
    </section>
</main> -->
<app-footer></app-footer>