@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

:root{
    --font-title: 'Jost', sans-serif;
    --font-text: 'Comfortaa', cursive;
    --primary-color: #191970;
    --secondary-color: #7B68EE;
    --white: #F8F8FF;
    --gray: #ECECF4;
    --black: #0A0A0A;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--white);
    font-family: var(--font-text);
}
.button{
    text-decoration: none;
    padding: 10px 25px;
    border-radius: 10px;
    font-family: var(--font-title);
    font-weight: 600;
}
.primary-button{
    background-color: var(--primary-color);
    color: white;
}
.secondary-button{
    border: var(--primary-color) 2px solid;
    color: var(--primary-color);
}
.technologies-chips{
    background-color: var(--secondary-color);
    padding: 5px 10px;
    color: var(--white);
    border-radius: 50px;
    font-size: 14px;
}